@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.advantages {
    @include centerredContentVH($cross: center, $main: center, $direction: column, $gap: 0px);
    position: relative;
}
.gradient {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100vw;
    background: linear-gradient(180.00deg, rgb(105, 34, 255),rgb(66, 0, 205) 100%);
    transform: rotate(180deg);
}

.advantages__header {
    margin-bottom: 1%;
}

.content-wrap {
    //max-width: 920px;
    padding: 0 46px;
    max-width: 920px;
    background: url(../../assets/images/advantages-logo-decoration.png) no-repeat center bottom;
    background-size: 200%;
    background-position-x: 58%;
    background-position-y: 93%;

    @media screen and (max-width: 1316px) {
        padding: 0 4%;
    }
    
}

.advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    column-gap: 9%;
    row-gap: 31%;
    margin-bottom: 34%;
    transition: 0.2s ease;

    @media screen and (max-width: $sw-breakPoint-5){
        //column-gap: 20%;
        row-gap: 13%;
        margin-bottom: 34%;
    }

}