@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.navigation {
  padding: 16px;
}
.navigation__menu {
  display: none;

  &_active {
    display: block;
    height: 100vh;
  }
}
.navigation__btn {
  width: 30px;
  height: 30px;
}

.navigation__socials {
  position: absolute;
  left: 2%;
  top: 40dvh;
}