@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.all-prices {
  @include centerredContentVH($cross: center, $main: center, $direction: column, $gap: 0px);
  position: relative;
  flex-grow: 1;
  justify-content: flex-start;
}
.gradient {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100vw;
  background: linear-gradient(180.00deg, rgb(105, 34, 255),rgb(66, 0, 205) 100%);
  transform: rotate(180deg);
}

.content-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 46px;
  max-width: 920px;
  width: 100%;

  @media screen and (max-width: 1316px) {
    padding: 0 4%;
  }

}

.accent {
  background-color: $clr-primary;
  font-size: max(15px, $fs-tny);
  font-weight: $fw-thk;
  padding: 0 5px;
}
.all-prices__list {
  margin-bottom: 18%;
}

.all-prices__list-item {
  margin-bottom: 3%;
}

.all-prices__btns {
  height: 35px;
  max-width: 200px;
  min-width: 150px;
  align-self: center;
}
