@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.all-prices {
  @include centerredContentVH($cross: center, $main: center, $direction: column, $gap: 0px);
  position: relative;
}
.gradient {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100vw;
  background: linear-gradient(180.00deg, rgb(105, 34, 255),rgb(66, 0, 205) 100%);
  transform: rotate(180deg);
}

.content-wrap {
  //max-width: 920px;
  padding: 0 46px;
  max-width: 920px;

  @media screen and (max-width: 1316px) {
    padding: 0 4%;
  }

}