@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

.card-list__item {
    font-size: $fs-tny;
    line-height: 100%;
    list-style: disc;
    
    &::marker {
        font-size: $fs-tnst;
    }
}