@import '../../../../../styles/abstracts/mixins';
@import '../../../../../styles/abstracts/variables';

.card-list__item {
    font-size: max(14px, $fs-tny);
    line-height: 130%;
    list-style: disc;
    
    &::marker {
        font-size: max(10px, $fs-tny);
    }
}