@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";

.emoji-card {
    @include centerredContentVH($cross: center, $main: flex-start, $direction: row, $gap: 7.5px);

    position: absolute;
    top: -33px;
    left: -16px;
    z-index: 2;
    padding: 5px 19px;
    background-color: $clr-plain;
    box-shadow: 2px 3px 0px 0px $clr-dk;
    transform: rotate(14.32deg);
   
    &_designed {
        top: auto;
        left: auto;
        bottom: 36px;
        right: -69px;
        background-color: $clr-secondary;
        box-shadow: 2px 3px 0px 0px $clr-primary;
        transform: rotate(-15.39deg);
    }

    &__content {
        color: $clr-dkr;
        font-size: $fs-med-plus;
        font-weight: $fw-thkr;
        line-height: 133.4%;

        &_designed {
            color: $clr-base-dk;
        }
    }
}

.emoji {

    width: 36px;
    height: 36px;
    background: url(../../../assets/icons/sad-face-emoji.svg) no-repeat;
    background-size: cover;
    transform: rotate(-7.32deg);

    &_designed {
        margin-left: 5px;
        background: url(../../../assets/icons/flame-emoji.svg) no-repeat;
        background-size: cover;
        transform: rotate(5.39deg);

    }
}