@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.plan-card {
    @include centerredContentVH(center, space-between, column);
    width: 255px;
    height: 500px;
    padding: 27px 25px 44px;
    border: 1px solid rgb(133, 255, 90);
    border-radius: 8.71px;

    &_dark {
        background: $clr-rad-grad-violet;
    }

    &_light {
        background: $clr-rad-grad-pink;
    }

    &_glowing {
        box-shadow: 0px 0px 100px 0px rgb(133, 255, 90);
    }
}

.plan-card__card-content {
    @include centerredContentVH($cross: center, $main: space-between, $direction: column, $gap: 89px);

}