@mixin centerredContentVH($cross: center, $main: center, $direction: row, $gap: 0px) {
    display: flex;
    flex-direction: $direction;
    justify-content: $main;
    align-items: $cross;
    gap: $gap;
}

@mixin slightBoxShadow {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(75, 0, 128, 1) inset;
    -moz-box-shadow: 0px 0px 0px 1px rgba(75, 0, 128, 1) inset;
    box-shadow: 0px 0px 0px 1px rgba(75, 0, 128, 1) inset;
}

@mixin cardSizeCQW($cardWidth, $ratio) {
    width: $cardWidth;
    height: #{$cardWidth / $ratio}
}