//solid colors
$clr-base: rgb(66, 1, 206);
$clr-base-dk: rgb(50, 0, 155);
$clr-primary: rgb(250, 0, 255);
$clr-secondary: rgb(133, 255, 90);
$clr-secondary-lt: rgb(169, 255, 138);;
$clr-secondary-ltr: rgb(244, 245, 194);
$clr-plain: rgb(239, 239, 239);
$clr-lt: rgb(228, 228, 243);
$clr-ltr: rgb(255, 255, 255);
$clr-dk: rgb(137, 148, 177);
$clr-dkr: rgb(96, 96, 96);
$clr-base-dk-transp: rgb(47 36 195 / 81%);
//gradients
$clr-rad-grad-violet: radial-gradient(93.00% 93.00% at 50% 7.000000000000001%,rgb(143, 0, 255),rgb(81, 14, 225) 82.813%);
$clr-rad-grad-pink: radial-gradient(134.00% 134.00% at 50% 0%,rgb(235, 0, 255),rgb(81, 14, 225) 82.813%);
$clr-rad-grad-blue: linear-gradient(180.00deg, rgb(105, 34, 255),rgb(66, 0, 205) 100%),rgb(217, 217, 217);


//font family
$ff-base: Montserrat;

//font size
$fs-base: 1rem;
$fs-tny: 0.88rem;
$fs-tnst: 0.6rem;
$fs-sml: 1.25rem;
$fs-med: 1.5rem;
$fs-med-plus: 1.6rem;
$fs-med-extra: 1.9rem;
$fs-lg: 2.3rem;
$fs-lgst: 3rem;

//font weight
$fw-base: 600;
$fw-thn: 400;
$fw-med: 500;
$fw-thk: 600;
$fw-thkr: 700;
$fw-thkr-plus: 800;
$fw-thkst: 900;


//screen width
$sw-max: 1316px;
$sw-breakPoint-2: 1090px;
$sw-breakPoint-3: 950px;
$sw-breakPoint-4: 840px;
$sw-breakPoint-5: 560px;

//container max widths
$cw-base: 920px;
$cw-medium: 794px;




