$clr-base: rgb(66, 1, 206);
$clr-base-dk: rgb(50, 0, 155);
$clr-primary: rgb(250, 0, 255);
$clr-secondary: rgb(133, 255, 90);
$clr-secondary-lt: rgb(244, 245, 194);
$clr-lt: rgb(228, 228, 243);
$clr-ltr: rgb(255, 255, 255);


//font family
$ff-base: Montserrat;

//font size
$fs-base: 16px;
$fs-tny: 14px;
$fs-sml: 20px;
$fs-med: 24px;
$fs-med-plus: 25.5px;
$fs-lg: 37.5px;
$fs-lgst: 48px;

//font weight
$fw-base: 600;
$fw-thn: 400;
$fw-med: 500;
$fw-thk: 600;
$fw-thkr: 700;
$fw-thkr-plus: 800;
$fw-thkst: 900;


