@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.information-block {
    
    &__heading {
        box-sizing: content-box;
        width: fit-content;
        color: $clr-base-dk;
        font-weight: $fw-thkr;
        background-color: $clr-secondary;
        padding: 0 9px;
        line-height: 133%;
    }

    &__desc {
        padding-left: 9px;
        line-height: 133%;
    } 
    
}

.accent {
        background-color: $clr-primary;
        font-weight: $fw-thkr-plus;
        padding: 0 5px;
    }