@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.information-block {
    width: 100%;
    
    &__heading {
        box-sizing: content-box;
        width: fit-content;
        color: $clr-base-dk;
        font-size: $fs-med-plus;
        font-weight: $fw-thkr;
        background-color: $clr-secondary;
        padding: 0 9px;
        line-height: 133%;
    }

    &__desc {
        padding-left: 3%;
        line-height: 133%;
        font-size: min(14px, $fs-med-plus);

        &_lg {
            @extend .information-block__desc;
            font-size: $fs-med-plus;
        }
    } 
    
}

.accent {
        background-color: $clr-primary;
        font-weight: $fw-thkr-plus;
        padding: 0 5px;
    }