@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.section-header {
    @include centerredContentVH(center, flex-start);
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

    &__text {
        color: $clr-secondary-ltr;
        font-weight: $fw-thkst;
        font-size: max(35px, $fs-lgst);
        text-transform: uppercase;
        padding: 3% 0;
    }

    &__decoration {
        position: absolute;
        width: 100%;
        top: -7%;
        left: -0.3%;

        &_shifted {
            @extend .section-header__decoration;
            left: -2%;
            top: -12%;
        }
    }
}