@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.intro {
    @include centerredContentVH($cross: center, $main: flex-start, $direction: column, $gap: 0px);
    width: 920px;
    height: 640px; //temp
    position: relative;
    padding: 23px 42px 0;

    &__header {
        color: $clr-secondary-ltr;
        font-size: $fs-lgst;
        font-weight: $fw-thkst;
        line-height: 100.9%;
        text-transform: uppercase;
        padding-bottom: 34px;
    }

    &__info-wrap {
        display: flex;
        align-items: flex-end;
        position: absolute;
        left: 46px;
        bottom: -20px;

    }

    &__arrow {
        display: block;
        position: absolute;
        top: 408px;
        right: 110px;
        z-index: 25;
        transform: rotate(-4deg);
        max-width: 263px;
        min-width: 210px;
        width: 20cqw;
        height: 216px;
        background: url(../../assets/images/curved-arrow.svg) center no-repeat;
        background-size: contain;
    }
   
}

.cards {
    @include centerredContentVH($cross: center, $main: center, $direction: row, $gap: 6vw);
    position: relative;


    &__plain-card {
        margin-top: -45px;
        width: 230px;
        height: 394px;
        transform: rotate(-8.50deg);
    }

    &__designed-card {
        width: 292px;
        height: 504px;
        transform: rotate(9.46deg);
    }

    &__transform-arrow {
        position: absolute;
        z-index: 5;
        top: 26%;
        left: 46.5%;
        transform: translate(-50%, -50%);
        width: 23%;
        height: 23%;
        background: url(../../assets/icons/transform-arrow.svg) no-repeat center;
        background-size: contain;
    }
}

.card-wrap {
    position: relative;
}