@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.intro {
    @include centerredContentVH($cross: center, $main: flex-start, $direction: column, $gap: 0px);
    max-width: 920px;
    width: 100%;
    //height: 640px; //temp
    position: relative;
    padding: 2% 6% 0;

    &__header {
        color: $clr-secondary-ltr;
        font-size: $fs-lgst;
        font-weight: $fw-thkst;
        line-height: 100.9%;
        text-transform: uppercase;
        padding-bottom: 6%;
    }

    &__info-wrap {
        width: 50%;
        display: flex;
        align-items: flex-end;
        position: absolute;
        left: 4.5%;
        bottom: -7%;

    }

    &__arrow {
        display: block;
        position: absolute;
        top: 84%;
        right: 41%;
        z-index: 5;
        transform: rotate(-9deg);
        max-width: 209px;
        min-width: 88px;
        width: 20cqw;
        height: 32%;
        background: url(../../assets/images/curved-arrow.svg) center no-repeat;
        background-size: contain;
    }
   
}

.cards {
    $plain-card-w: 30cqw;
    $designed-card-w: 36cqw;

    @include centerredContentVH($cross: center, $main: center, $direction: row, $gap: 6vw);
    position: relative;



    &__plain-card {
        @include cardSizeCQW( $plain-card-w, 0.5793);
        margin-top: -6%;

        max-width: 230px;
        max-height: 394px;
        transform: rotate(-8.50deg);
    }

    &__designed-card {

        @include cardSizeCQW( $designed-card-w, 0.5793);

        max-width: 292px;
        max-height: 504px;
        transform: rotate(9.46deg);
    }

    &__transform-arrow {
        position: absolute;
        z-index: 5;
        top: 26%;
        left: 46.5%;
        transform: translate(-50%, -50%);
        width: 23%;
        height: 23%;
        background: url(../../assets/icons/transform-arrow.svg) no-repeat center;
        background-size: contain;
    }
}

.card-wrap {
    position: relative;
}