@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    @media screen and (max-width: 840px) {
        font-size: 1.9vw;
    }
}

body {
    background-color: rgb(66, 1, 206);
    overflow-x: hidden;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.slider-container {
    width: 100%;
    padding-bottom: 4%;

}

.swiper-slide-shadow-coverflow {
    display: none;
}

.swiper-slide {
    width: 100%;


}

.swiper-slide > div:first-child {
    display: flex;
    justify-content: center;
}
.swiper-wrapper {
    margin-bottom: 3%;
}
/*.swiper-slide:nth-child(2) > div:first-child > article {*/
/*    box-shadow: 0px 0px 18px 0px rgb(133, 255, 90);*/
/*}*/

.swiper-pagination-bullet-active {
    background: #63f163;
}